
.serve
{
  /* background-image: url("../../../assets/Carell.jpg");
  background-size: 100% 100%; */
       background-repeat: no-repeat;
       background-attachment: fixed;
       height: 1000px;
       text-align: center;
       /* background-color: coral; */
      
}
.back{
  /* background-image: url("../../../assets/service.jpg"); */
  background: linear-gradient(to right, #febbbb 0%,#fe9090 45%,#ff5c5c 100%);
}