<div class="row" style="margin-top: 50px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card " >
        <div class="card-header text-white bg-dark">
          Please enter your servicing details.
        </div>

        <div class="card-body">
        <div class="form">
          <div class="form-group">
            <label for="">Service Cost</label>
            <input [(ngModel)]="serviceCost" type="number" class="form-control">
          </div>

          <div class="form-group">
              <label for="">Service Date</label>
              <input [(ngModel)]="serviceDate" type="date" class="form-control">
          </div>

          <div class="form-group">
              <label for="">Delivery Date</label>
              <input [(ngModel)]="deliveryDate" type="date" class="form-control">
          </div>

          <div class="form-group">
              <label for="">Serice Time</label>
              <input [(ngModel)]="serviceTime" type="time" class="form-control">
          </div>
          
          <div class="form-group">
              <label for="">Service Type</label>
              <select [(ngModel)]="serviceType" style="margin-left: 20px;"  class="form-control" name="" id="" multiple="multiple">
                  <option value="vehicleCheck"> Full vehicle Checking </option>
                  <option value="oiling">Oiling</option>
                  <option value="airFilterChange"> Air Filter Change </option>
                  <option value="extensiveBrakeInspection"> Extensive break Inspection </option>
                  <option value="electricComponentChecking"> Electric Components Testing </option>
              </select>
          </div>  
          
          <div class="form-group">
              <label for="">Service Cost</label>
              <select [(ngModel)]="costing" style="margin-left: 20px;"  class="form-control" name="" id="" multiple="multiple">
                  <option value="3000"> Full vehicle Checking :3000Rs </option>
                  <option value="300">Oiling: 300Rs</option>
                  <option value="800"> Air Filter Change: 800Rs </option>
                  <option value="500"> Extensive break Inspection :500Rs </option>
                  <option value="1000"> Electric Components Testing :1000Rs </option>
              </select>
          </div>  



          <div class="form-group">
            <label for="">Payment Type</label>
            <input [(ngModel)]="paymentType" type="text" class="form-control">
          </div>
            
          <div class="form-group">
              <label for="">Total Amount</label>
              <input [(ngModel)]="totalAmount" type="number" class="form-control">
          </div>

          

          <div class="form-group">
            <label for="">showroom Name</label>
              <input [(ngModel)]="showroomName" type="text" class="form-control">
          </div>


          <div class="form-group">
            <button (click)="onInsertServicingDetails()" class="btn btn-success">Add</button>
            <button (click)="onCancel()" style="margin-left: 20px;" class="btn btn-danger"> Cancel </button>
          </div>

          

        </div>
      </div>

      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
  


