.serve
{
  /* background-image: url("../../../assets/Carell.jpg");
  background-size: 100% 100%; */
       background-repeat: no-repeat;
       background-attachment: fixed;
       height: 1000px;
       text-align: center;
       /* background-color: coral; */
      
}
.back{
    background: linear-gradient(to right, rgba(239,197,202,1) 0%,rgba(210,75,90,1) 50%,rgba(186,39,55,1) 100%,rgba(241,142,153,1) 100%); }