.card{
    box-shadow:0 4px 8px 0 white;
    transition: 0.3s;
    
    margin: auto;
    max-width: 300px;
    text-align: center;
    max-height: 500px;
    font-family: Arial;
    border-radius: 5px;
}

.card:hover
{
   box-shadow: rebeccapurple;
}


img
{
    border-radius: 5px 5px 0 0;
    height:"200px"; width:"200px" ;
}

h5
{
  color: white;
}