
    <div class="row" >
        <div class="col-md-3">
          <div class="form-group">
            <label for="">Vehicle Type</label>
            <select class="form-control" (change)="filterVehicles($event)">
              <option [value]="vehtype" *ngFor="let vehtype of vehTypes">{{vehtype}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4" *ngFor="let vehicle of vehicles">
              <div class="card">
                <img class="card-img-top" src="http://localhost:5000/buyCustomerVehicle/image/{{vehicle['image']}}" alt="">
                <div class="card-body">
                  <h5 class="card-title">{{vehicle['name']}}</h5>
                  <div class="price"><strong>Price: </strong>{{vehicle['vehCost']}}</div>
                  <div class="category"><strong>Vehicle Type: </strong> {{vehicle['vehType']}}</div>
                  <button (click)="buyVehicle(vehicle)" style="margin-left: 10px;" class="btn btn-warning btn-sm">Buy</button>
              </div>
            </div>
          </div>
        </div>
      </div>
