<div class="card">
    <div class="card-header">
      <button (click)="addStaff()" class="btn btn-success btn-sm float-right">Add Staff</button>
      <h4>Staff Profile</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered">
        <thead>
           
          <tr>
            <th>Id</th>
            <th>name</th>
            <th>contact </th>
            <th>Address</th>
            <th>city</th>
            <th>state</th>
            <th>country</th>
            <th>pincode</th>
           
            <th>Schedule</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let staff of staffs;">
            <td>{{staff['personId']}}</td>
            <td>{{staff['name']}}</td>
            <td>{{staff['contactNo']}}</td>
            <td>{{staff['address']}}</td>
            <td>{{staff['city']}}</td>
            <td>{{staff['state']}}</td>
            <td>{{staff['country']}}</td>
            <td>{{staff['pincode']}}</td>
           
            <td><button style="margin-top: 10px;" (click)="getStaffSchedule(staff)" class="btn btn-success btn-sm">Schedule</button></td>
            <td> <button style="margin-left: 10px;" (click)="onDelete(staff)" class="btn btn-danger btn-sm">Remove</button> 
            <button (click)="onEdit(staff)" style="margin-left: 10px;" class="btn btn-warning btn-sm">Edit</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <div class="card">
    <div class="card-header">
      <button (click)="assignService()" class="btn btn-success btn-sm float-right">Assign Service</button>
      <h4>Staff schedule</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered">
        <thead>
           
          <tr>
            <th>name</th>
            <th>staffId </th>
            <th>serviceId</th>
            <th>serviceDate</th>
            <th>deliveryDate</th>
            <th>vehicle no</th>
           
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let schedule of schedules;">
            <td>{{schedule['name']}}</td>
            <td>{{schedule['staffId']}}</td>
            <td>{{schedule['serviceId']}}</td>
            <td>{{schedule['serviceDate']}}</td>
            <td>{{schedule['deliveryDate']}}</td>
            <td>{{schedule['vehNo']}}</td>
           
          </tr>
        </tbody>
      </table>
    </div>
  </div>



