<div class="row" style="margin-top: 50px;" >
    <div class="col-md-4"></div>
    <div class="col-md-4">   
      <div class="card " >
        <div class="card-header text-white bg-dark">
          Please enter your vehicle details.
        </div>

        <div class="card-body">
          <div class="form">
                <div class="form-group">
          <label for="">Vehicle Name</label>
          <input [(ngModel)]="vehName" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="">Vehicle Model</label>
            <input [(ngModel)]="vehModel" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="">Vehicle Type</label>
            <select [(ngModel)]="vehType" class="form-control" name="" id="">
                <option selected value="car"> car </option>
                <option value="bicycle"> Bicycle </option>
                <option value="bike"> Bike </option>
                <option value="bus"> Bus </option>
                <option value="truck"> Truck </option>
            </select>

        </div>

        <div class="form-group">
          <label for="">Vehicle Cost</label>
          <input [(ngModel)]="vehCost" type="text" class="form-control">
        </div>
          
        <div class="form-group">
            <label for="">purchase Date</label>
            <input [(ngModel)]="purchaseDate" type="date" class="form-control">
        </div>

        

        <div class="form-group">
          <label for="">vehicle No</label>
            <input [(ngModel)]="vehNo" type="text" class="form-control">
        </div>


        <div class="form-group">
          <button (click)="onInsertVehicle()" class="btn btn-success">Add</button>
          <button (click)="onCancel()" style="margin-left: 20px;" class="btn btn-danger"> Cancel </button>
        </div>

        

          </div>
        </div>  

    </div>
    <div class="col-md-4"></div>
  </div>
 </div>
  



