<!--<div class="custPage">
<div class="row">
    <div routerLink="/home/customer/profile" class="col-md-3">
      <div class="info info-orange">
        <div class="header">Profile</div>
        <img src="assets/user.png" alt="">
      </div>
    </div>
  
    <div routerLink="/home/customer/salevehicle" class="col-md-3">
      <div class="info info-green">
        <div class="header">Sale Vehicle</div>
        <img src="assets/car.png" alt="">
      </div>
    </div>
  
  
    <div routerLink="/home/customer/servicevehicle" class="col-md-3">
      <div class="info info-brown">
        <div class="header">Service Vehicle</div>
        <img src="assets/car_service.png" alt="">
      </div>
    </div>
  
    <div routerLink="/home/customer/buyvehicle" class="col-md-3">
      <div class="info info-blue">
        <div class="header">Buy Vehicle</div>
        <img src="assets/shopping_cart.png" alt="">
      </div>
    </div>
  </div>
  </div>-->

  <div class="container">
    <div class="menu" tabindex="1">
      <div class="list">
        <span><a routerLink="/home/customer/profile">Profile</a></span>
        <span><a routerLink="/home/customer/salevehicle">Sale Vehicle</a></span>
        <span><a routerLink="/home/customer/servicevehicle-details">Service Vehicle</a></span>
        <span><a routerLink="/home/customer/buyvehicle">Buy Vehicle</a></span>
        <span><a (click)="onLogout()" href="#" >Logout</a></span>
        <span><a href="/auth/aboutus" >About Us</a></span>
        <span><a href="/auth/contactus" >Contact Us</a></span>
      </div>



      <div class="intro">
        <div class="btn"></div>
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
          <div class="carousel-inner">
              
              <div class="carousel-item active">
                <img class="d-block w-100" src="../../../assets/dashboard/customer1.jpg" alt="First slide" style="width: 600px;height: 400px;">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/dashboard/customer2.jpg" alt="Second slide" style="width: 600px;height: 400px;">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/dashboard/customer3.jpg" alt="Third slide" style="width: 600px;height: 400px;">   
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>
    </div>	
  </div>
  
  <!-- This is not part of Pen -->
  <a class="me" href="https://codepen.io/uzcho_/pens/popular/?grid_type=list" target="_blank" style="color:#000"></a>
   



