<div class="row" style="margin-top: 50px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      
      <div class="card " >
        <div class="card-header text-white bg-dark">
          Signup Form
        </div>
        <div class="card-body">
          <div class="form">
            <div class="form-group">
              <label for="">Name</label>
              <input [(ngModel)]="name" type="text" class="form-control">
            </div>
    
            <div class="form-group">
                <label for="">Contact No</label>
                <input [(ngModel)]="contactNo" type="text" class="form-control">
            </div>
    
            <div class="form-group">
                <label for="">emailId</label>
                <input [(ngModel)]="emailId" type="text" class="form-control">
            </div>
    
            <div class="form-group">
              <label for="">Password</label>
              <input [(ngModel)]="password" type="password" class="form-control">
            </div>
              
            <div class="form-group">
                <label for="">Address</label>
                <input [(ngModel)]="address" type="text" class="form-control">
            </div>
      
            <div class="form-group">
              <label for="">City</label>
                <input [(ngModel)]="city" type="text" class="form-control">
            </div>
    
            <div class="form-group">
              <label for="">State</label>
                <input [(ngModel)]="state" type="text" class="form-control">
            </div>
    
            <div class="form-group">
              <label for="">Country</label>
                <input [(ngModel)]="country" type="text" class="form-control">
            </div>
    
            <div class="form-group">
              <label for="">Pincode</label>
                <input [(ngModel)]="pincode" type="text" class="form-control">
            </div>
    
            <div class="form-inline">
              <label for="role"> Select your Role </label>
              <select [(ngModel)]="role" style="margin-left: 20px;"  class="form-control" name="" id="">
                  <option selected value="admin"> Admin </option>
                  <option value="customer"> Customer </option>
                  <option value="staff"> Staff </option>
                  <option value="vendor"> Vendor </option>
              </select>
          </div>
    
            <div class="form-group">
              <button (click)="onSignup()" class="btn btn-success">Signup</button>
              <button style="margin-left: 20px;" class="btn btn-danger"> Cancel </button>
            </div>
    
            <div class="form-group">
              <p> Already have an account ?  <a routerLink="/auth/login" href=""> Login here</a> </p>
          </div>
    
          </div>
        </div>
        <div class="card-footer"></div>
      </div>

    </div>
    <div class="col-md-4"></div>
  </div>
