<div class="row" style="margin-top: 50px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form">
        <div class="form-group">
          <label for="">Service Id</label>
          <input [(ngModel)]="serviceId" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="">Person Id</label>
            <input [(ngModel)]="personId" type="text" class="form-control">
        </div>

        
        <div class="form-group">
          <button (click)="OnAddService()" class="btn btn-success">Assign</button>
          <button style="margin-left: 20px;" routerLink="/home/admin/staff" class="btn btn-danger"> Cancel </button>
        </div>

        

      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
