.serve
{
  /* background-image: url("../../../assets/Carell.jpg");
  background-size: 100% 100%; */
       background-repeat: no-repeat;
       background-attachment: fixed;
       height: 1000px;
       text-align: center;
       /* background-color: coral; */
      
}
.back{
    background: linear-gradient(to right, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);
}