<!--<div class="back-admin">
<div class="row">
    <div class="col-md-3">
      <div class="info info-orange">
        <div class="header">
        <a routerLink="/home/admin/profile">Profile</a></div>
        <img src="assets/user.png" alt="">
      </div>
    </div>
  
    <div class="col-md-3">
      <div class="info info-green">
        <div class="header">
        <a routerLink="/home/admin/customer">Customer</a></div>
        <img src="assets/product.png" alt="">
      </div>
    </div>
  
  
    <div class="col-md-3">
      <div class="info info-brown">
        <div class="header">
        <a routerLink="/home/admin/vendor">Vendor</a></div>
        <img src="assets/shopping_cart.png" alt="">
      </div>
    </div>

   
    <div class="col-md-3">
      <div class="info info-blue">
        <div class="header">
        <a routerLink="/home/admin/staff">Staff</a></div>
        <img src="assets/shopping_cart.png" alt="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>
    
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-3">
      <div class="info info-blue">
        <div class="header">
        <a routerLink="/home/admin/buyvehicle">Buy Vehicle Details</a></div>
        <img src="assets/user.png" alt="">
      </div>
    </div>
  
    <div class="col-md-3">
      <div class="info info-orange">
        <div class="header">
        <a routerLink="/home/admin/salevehicle">Sale Vehicle Details</a></div>
        <img src="assets/product.png" alt="">
      </div>
    </div>
  
  
    <div class="col-md-3">
      <div class="info info-green">
        <div class="header">
        <a routerLink="/home/admin/servicevehicle">Service Vehicle Details</a></div>
        <img src="assets/shopping_cart.png" alt="">
      </div>
    </div>
  
  </div>
</div> -->

<div class="container">
  <div class="menu" tabindex="1">
    <div class="list">
      <span><a routerLink="/home/admin/profile">Profile</a></span>
      <span><a routerLink="/home/admin/customer">Customer</a></span>
      <span><a routerLink="/home/admin/vendor">Vendor</a></span>
      <span><a routerLink="/home/admin/staff">Staff</a></span>
      <span><a routerLink="/home/admin/salevehicle">Sale Vehicle</a></span>
      <span><a routerLink="/home/admin/buyvehicle">Buy Vehicle</a></span>
      <span><a routerLink="/home/admin/servicevehicle">Service Vehicle</a></span>
      <span><a (click)="onLogout()" routerLink="#" >Logout</a></span>
      <span><a routerLink="/auth/aboutus" >About Us</a></span>
      <span><a routerLink="/auth/contactus" >Contact Us</a></span>
    </div>



    <div class="intro">
      <div class="btn"></div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
        <div class="carousel-inner">
            
            <div class="carousel-item active">
              <img class="d-block w-100" src="../../../assets/dashboard/admin1 (1).jpg" alt="First slide" style="width: 600px;height: 400px;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../../assets/dashboard/admin2.jpg" alt="Second slide" style="width: 600px;height: 400px;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../../assets/dashboard/admin3.jpg" alt="Third slide" style="width: 600px;height: 400px;">   
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
  </div>	
</div>

<!-- This is not part of Pen -->
<a class="me" href="https://codepen.io/uzcho_/pens/popular/?grid_type=list" target="_blank" style="color:#000"></a>
 




