<div class="serve">
<div class="card">
    <div class="card-header">
      <h4>Admin List</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered back">
        <thead>
          <tr>
            <th>Admin Id</th>
            <th>Person Id</th>
            <th>name</th>
            <th>contactNo</th>
            <th>emailId</th>
            <th>address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of admins;">
            <td>{{admin['adminId']}}</td>
            <td>{{admin['personId']}}</td>
            <td>{{admin['name']}}</td>
            <td>{{admin['contactNo']}}</td>
            <td>{{admin['emailId']}}</td>
            <td>{{admin['address']}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>