<div class="container-fluid">
  <div class="row">
      <div class="col-md-6">
          <h2 class="myClass">Good Car Sales and Service</h2>
          <img class="car" src="../../../assets/download.jpg" alt="">
      </div>
      <div class="col-md-6">
          <div class="loginBox">
              <img src="assets/logos/GoodCar.png" class="user">
              <h2>Log In Here</h2>
              <form>
                  <p>Email</p>
                  <input [(ngModel)]="emailId" type="text" name = "email" placeholder="Enter Email">
                  <p>Password</p>
                  <input [(ngModel)]="password" type="password" name = "password" placeholder="Enter Password">
                  <input (click)="onLogin()" type="submit" name = "" value="sign In">
                  <p class="para"> Don't have an account? </p>
                  <a routerLink="/auth/signup"> Signup Here  </a>     
              </form>
          </div>
      </div>
  </div>
</div>