
<div class="row" style="margin-top: 50px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">

      <div class="card " >
        <div class="card-header text-white bg-dark">
          Please enter your Payment details.
        </div> 

        <div class="card-body">
        <div class="form">      


          <div class="form-group">
            <label for="">Vehicle Cost</label>
            <input [(ngModel)]="vehCost" type="text" class="form-control">
          </div>
            
          <div class="form-group">
              <label for="">Order Date</label>
              <input [(ngModel)]="orderDate" type="date" class="form-control">
          </div>

          <div class="form-group">
              <label for="">Delivery Date</label>
              <input [(ngModel)]="deliveryDate" type="date" class="form-control">
          </div>
          
          <div class="form-group">
              <label for="">Showroom name</label>
                <input [(ngModel)]="showroomName" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="">Payment Type</label>
              <input [(ngModel)]="paymentType" type="text" class="form-control">
          </div>

          <div class="form-group">
              <label for="">Total Amount</label>
                <input [(ngModel)]="totalAmount" type="number" class="form-control">
            </div>


          <div class="form-group">
            <button (click)="onPaymentDone()" class="btn btn-success">Done</button>
            <button (click)="onCancel()" style="margin-left: 20px;" class="btn btn-danger"> Cancel </button>
          </div>

          

        </div>
       
        </div>
      </div>
    </div>  
  
  
    <div class="col-md-4"></div>
  </div>


