<div class="card">
    <div class="card-header">
      <h4>Place order</h4>
    </div>
    <div class="card-body">
      <div class="form">
  
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Part Name</label>
              <input [(ngModel)]="partName" type="text" class="form-control">
            </div>
          </div>
<!--  <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Company</label>
                <input [(ngModel)]="company" type="text" class="form-control">
              </div>
            </div> -->
          
  
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Quantity</label>
              <input [(ngModel)]="qty" type="number" class="form-control">
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="form-group">
            <label for="">Vendor Id</label>
            <input [(ngModel)]="personId" type="number" class="form-control">
          </div>
        </div>
      
  
       <!--    
        <div class="row">
          <div class="col-md-6">
            <label for="">Category</label>
            <select [(ngModel)]="category" class="form-control">
              <option [value]="category['id']" *ngFor="let category of categories">{{category['title']}}</option>
            </select>
          </div>
  
          <div class="col-md-6">
            <label for="">Brand</label>
            <select [(ngModel)]="brand" class="form-control">
              <option [value]="brand['id']" *ngFor="let brand of brands">{{brand['title']}}</option>
            </select>
          </div>
        </div>
  
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Description</label>
              <textarea [(ngModel)]="description" rows="10" class="form-control"></textarea>
            </div>
          </div>
        </div>
         --> 
  
        <div class="form-group">
          <button style="margin-left: 430px;" (click)="placeOrder()" class="btn btn-success">Place order</button>
          <a style="margin-left: 10px;" routerLink="/home/staff/profile" class="btn btn-danger">Cancel</a>
  
          
          
        </div>
  
  
      </div>
    </div>
  </div>
