<div class="card">
  <div class="card-header">
    <button (click)="placeOrder()" class="btn btn-success btn-sm float-right">Place order</button>
  
  </div>
    <div class="card-header">
      <h4>Staff Profile</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered">
        <thead>
           
          <tr>
            <th>name</th>
            <th>contact </th>
            <th>Address</th>
            <th>city</th>
            <th>state</th>
            <th>country</th>
            <th>pincode</th>
            <th>Staff Id</th>
            <th>Schedule</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let staff of staffs;">
            <td>{{staff['name']}}</td>
            <td>{{staff['contactNo']}}</td>
            <td>{{staff['address']}}</td>
            <td>{{staff['city']}}</td>
            <td>{{staff['state']}}</td>
            <td>{{staff['country']}}</td>
            <td>{{staff['pincode']}}</td>
            <td>{{staff['staffId']}}</td>
            <td><button style="margin-top: 10px;" (click)="getStaffSchedule(staff)" class="btn btn-success btn-sm">Schedule</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <div class="card">
    <div class="card-header">
      <h4>Staff schedule</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered">
        <thead>
           
          <tr>
          
            <th>serviceId</th>
            <th>serviceDate</th>
            <th>deliveryDate</th>
            <th>vehicle no</th>
           
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let schedule of schedules;">
            <td>{{schedule['serviceId']}}</td>
            <td>{{schedule['serviceDate']}}</td>
            <td>{{schedule['deliveryDate']}}</td>
            <td>{{schedule['vehNo']}}</td>
           
          </tr>
        </tbody>
      </table>
    </div>
  </div>


