<div class="row" style="margin-top: 50px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card " >
        <div class="card-header text-white bg-dark">
          Please add staff details.
        </div>

        <div class="card-body">
          <div class="form">
            <div class="form-group">
              <label for="">Name</label>
              <input [(ngModel)]="name" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Contact No</label>
                <input [(ngModel)]="contactNo" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="">emailId</label>
                <input [(ngModel)]="emailId" type="text" class="form-control">
            </div>

            <div class="form-group">
              <label for="">Password</label>
              <input [(ngModel)]="password" type="password" class="form-control">
            </div>
              
            <div class="form-group">
                <label for="">Address</label>
                <input [(ngModel)]="address" type="text" class="form-control">
            </div>
      
            <div class="form-group">
              <label for="">City</label>
                <input [(ngModel)]="city" type="text" class="form-control">
            </div>

            <div class="form-group">
              <label for="">State</label>
                <input [(ngModel)]="state" type="text" class="form-control">
            </div>

            <div class="form-group">
              <label for="">Country</label>
                <input [(ngModel)]="country" type="text" class="form-control">
            </div>

            <div class="form-group">
              <label for="">Pincode</label>
                <input [(ngModel)]="pincode" type="text" class="form-control">
            </div>

            <div class="form-inline">
              <label for="role"> Select your Role </label>
              <select [(ngModel)]="role" style="margin-left: 20px;"  class="form-control" name="" id="">
                  <option selected value="staff"> Staff </option>
                
              </select>
          </div>

            <div class="form-group">
              <button (click)="OnAdd()" class="btn btn-success">Add</button>
              <button style="margin-left: 20px;" routerLink="/home/admin/staff" class="btn btn-danger"> Cancel </button>
            </div>

            

          </div>
        </div>
    </div>
    </div>
    <div class="col-md-4"></div>
  </div>
