<div *ngFor="let vehicle of vehicles">

<div style="width: 50%; float: left;height: 400px;margin-top: 50px;" >
    &nbsp; &nbsp; &nbsp; &nbsp;<img src="http://54.209.3.70:5000/buyCustomerVehicle/image/{{vehicle['image']}}" style="height: 350px;width: 350px;">
</div>
          
<div style="width: 50%; float: left;height: 400px;margin-top: 50px;">
    <h5 >{{vehicle['VehName']}}</h5>
    <div><strong>Vehicle Model: </strong>{{vehicle['vehModel']}}</div>
    <div ><strong>Price: </strong>{{vehicle['vehCost']}}</div>
    <div ><strong>Vehicle Type: </strong> {{vehicle['vehType']}}</div>
    <div ><strong>Vehicle Purchase Date: </strong>{{vehicle['purchaseDate']}}</div>
    <div><strong>Vehicle No: </strong>{{vehicle['vehNo']}}</div>
    <button (click)="paymentDetails(vehicle)" style="margin-left: 10px;" class="btn btn-warning btn-sm">Buy</button>
</div>  
    
</div>
