.serve
{
  /* background-image: url("../../../assets/Carell.jpg");
  background-size: 100% 100%; */
       background-repeat: no-repeat;
       background-attachment: fixed;
       height: 1000px;
       text-align: center;
       /* background-color: coral; */
      
}
.back{
    background: linear-gradient(to right, #f3c5bd 1%,#e86c57 99%,#ea2803 51%,#ff6600 53%,#c72200 80%);
}