<div class="serve">
<div class="card">
    <div class="card-header">
      <h4>Sale Vehicle List</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered back">
        <thead>
          <tr>
            <th>Customer Id</th>
            <th>Person Id</th>
            <th>name</th>
            <th>Vehicle Name</th>
            <th>Vehicle Model</th>
            <th>Vehicle Type</th>
            <th>Vehicle Cost</th>
            <th>purchaseDate</th>
            <th>status</th>
            <th>vehNo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let salevehicle of salevehicles;">
            <td>{{salevehicle['custId']}}</td>
            <td>{{salevehicle['personId']}}</td>
            <td>{{salevehicle['name']}}</td>
            <td>{{salevehicle['vehName']}}</td>
            <td>{{salevehicle['vehModel']}}</td>
            <td>{{salevehicle['vehType']}}</td>
            <td>{{salevehicle['vehCost']}}</td>
            <td>{{salevehicle['purchaseDate']}}</td>
            <td>{{salevehicle['status']}}</td>
            <td>{{salevehicle['vehNo']}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>