<div class="serve">
<div class="card">
    <div class="card-header">
      <h4>Service Vehicle List</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered back">
        <thead>
          <tr>
            <th>serviceId</th>
            <th>Person name</th>
            <th>serviceDate</th>
            <th>deliveryDate</th>
           <th>status</th>
           <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servicevehicle of servicevehicles;">
            <td>{{servicevehicle['serviceId']}}</td>
            <td>{{servicevehicle['Customer Name']}}</td>
            <td>{{servicevehicle['serviceDate']}}</td>
            <td>{{servicevehicle['deliveryDate']}}</td>
            <td>{{servicevehicle['status']}}</td>
            <td>
              <button 
              (click)="toggleActive(servicevehicle)"
              [class.btn-success]="servicevehicle['status'] == 1"
              [class.btn-danger]="servicevehicle['status'] == 0"
              class="btn btn-sm">{{servicevehicle['status'] == 1 ? 'Done' : 'Notdone'}}</button>
              &nbsp;&nbsp;
          <button (click)="onDelete(servicevehicle)" class="btn btn-danger btn-sm">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>