.serve
{
  /* background-image: url("../../../assets/Carell.jpg");
  background-size: 100% 100%; */
       background-repeat: no-repeat;
       background-attachment: fixed;
       height: 1000px;
       text-align: center;
       /* background-color: coral; */
      
}
.back{
  /* background-image: url("../../../assets/service.jpg"); */
  background: linear-gradient(to right, #fac695 0%,#f5ab66 47%,#ef8d31 100%);
}