<div class="serve">
<div class="card">
    <div class="card-header">
      <h4>Buy Vehicle List</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered back">
        <thead>
          <tr>
            <th>Customer Id</th>
            <th>Person Id</th>
            <th>name</th>
            <th>Vehicle Name</th>
            <th>Vehicle Model</th>
            <th>Vehicle Type</th>
            <th>Vehicle Cost</th>
            <th>purchaseDate</th>
            <th>status</th>
            <th>vehNo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let buyvehicle of buyvehicles;">
            <td>{{buyvehicle['custId']}}</td>
            <td>{{buyvehicle['personId']}}</td>
            <td>{{buyvehicle['name']}}</td>
            <td>{{buyvehicle['vehName']}}</td>
            <td>{{buyvehicle['vehModel']}}</td>
            <td>{{buyvehicle['vehType']}}</td>
            <td>{{buyvehicle['vehCost']}}</td>
            <td>{{buyvehicle['purchaseDate']}}</td>
            <td>{{buyvehicle['status']}}</td>
            <td>{{buyvehicle['vehNo']}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
