body
{
	margin:0;
	padding:0;
	background-color: aquamarine;
	background-size:cover;
	font-family: sans-serif; 
}

.loginBox
{
    margin-top: 90px;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:350px;
	height:420px;
	padding:80px 40px;
	box-sizing: border-box;
	background:rgba(196, 214, 231, 0.7) ;
	
}



h2
{
	margin:0;
	padding:0 0 20px;
	color: rgb(33, 34, 33);
	text-align:center;
} 



.loginBox p
{
	padding:0;
	margin:0;
	font-weight:bold;
	/*color:#fff;*/
	color:black;
	
} 


.loginBox input
{
	width:100%;
	margin-bottom: 20px; 
}

.loginBox input[type="text"], .loginBox input[type="password"]
{
	padding: 10px;
	border: none;
	/*border-bottom: 1px solid #fff;*/
	border-bottom: 1px solid black;
	background: transparent;
	outline:none;
	height:40px;
	/*color:#fff;*/
	color:black;
	font-size: 16px;
	
	
}


.loginBox input[type="submit"]
{
	border:none;
	outline:none;
	height: 40px;
	/*color:#fff;*/
	color:black;
	font-size:16px;
	background: rgb(255,38,126);
	cursor:pointer;
	border-radius:20px;
}


.loginBox input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;
}
 
 
 

.loginBox a
{
	color:black;
	font-size:14px;
	font-weight:bold;
} 


::placeholder
{
	/*color:rgba(255,255,255,0.5); */
	color: black;
}


.user
{
	width:100px;
	height:100px; 
	overflow:hidden;
	position:absolute;
	top:calc(-100px/2);
	left:calc(50% - 50px);
	border-radius:50%;
}

.para{
	font-size: 12px;
}
 
.myClass{
	margin-top: 80px;
	/* margin-left: 20px; */
	font-family: 'Times New Roman', Times, serif;
	font-size: 70px;
	font-weight: bold;
	text-shadow: 3px 3px 5px black;
}

.car{
	margin-left: 230px;
	width:  300px;
	height: 300px;
}