<div class="serve ">
    <div class="back">

        <div class="card">
            <div class="card-header">
                 <h4>Personal Details</h4>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                   
                  <tr>
                    <th>Id</th>
                    <th>name</th>
                    <th>contact </th>
                    <th>Address</th>
                    <th>city</th>
                    <th>state</th>
                    <th>country</th>
                    <th>pincode</th>
                   <th>Actions</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr *ngFor="let person of persons;">
                    <td>{{person['personId']}}</td>
                    <td>{{person['name']}}</td>
                    <td>{{person['contactNo']}}</td>
                    <td>{{person['address']}}</td>
                    <td>{{person['city']}}</td>
                    <td>{{person['state']}}</td>
                    <td>{{person['country']}}</td>
                    <td>{{person['pincode']}}</td>
                     <td> <button style="margin-left: 10px;" (click)="onDelete(person)" class="btn btn-danger btn-sm">Remove</button> 
                   
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>




    </div>
</div>