<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      
      <li>
        <img src="../../assets/logos/GoodCar.png" style="width: 46px;height: 36px;">
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/auth/login">login <span class="sr-only">(current)</span></a>
      </li>
     
      <li class="nav-item">
        <a (click)="onLogout()" class="nav-link" href="#">logout</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/auth/aboutus">About Us<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/auth/contactus">Contact Us <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>



<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
<div class="carousel-inner">
    
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../assets/car1modify.jpg" alt="First slide" style="width: 600px;height: 400px;">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/carServiceCoro.jpg" alt="Second slide" style="width: 600px;height: 400px;">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/AudiFacePic.jpg" alt="Third slide" style="width: 600px;height: 400px;">   
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<br>
<br>
<div class=" dash container">
  <div class="row">
      <div style="margin-left: 60px;" class="dashboard col-md-3 card shadow-lg">
      <div class="card-body text-center">
          <div class="card-text">
              <img src="../../assets/carHomePage1.jpg" style="width: 180px; height: 180px;" alt="">
          </div>
          <div class="card-text mt-3 student">
                  <h4>60 million+</h4>
                  <h4>Vehicles Sold</h4>
          </div>
          
      </div>
      </div>
      <div style="margin-left: 60px;" class=" dashboard col-md-3 card  shadow-lg">
        <div class="card-body text-center">
          <div class="card-text">
              <img src="../../assets/carHomePage2.jpg" style="width: 180px;; height: 180px;;" alt="">
          </div>
          <div class="card-text mt-3 student">
                  <h4>20 million+</h4>
                  <h4>Vehicles Services</h4>
          </div>
          
      </div>
      </div>
      <div style="margin-left: 60px;" class=" dashboard col-md-3 card shadow-lg">
        <div class="card-body text-center">
          <div class="card-text">
              <img src="../../assets/carHomePage3.jpg" style="width: 180px; height: 180px;" alt="">
          </div>
          <div class="card-text mt-3 student">
                  <h4>10 million+</h4>
                  <h4>Vehicles buy</h4>
          </div>
          
      </div>
      </div>
  </div>
</div>

<br>
<br>
<br>
<br>





<div style="margin-left: 160px;">
  <h1 style="color: black;">Trusted used cars by brand</h1>
  <table>
    <tr>
      <td>
        <img src="../../assets/brands/Maruti.jpg" alt="..." class="img-thumbnail" style="width: 150px; height: 150px;">
      </td>
      <td ><img src="../../assets/brands/Hyundai.png" alt="..." class="img-thumbnail" style="width: 150px; height: 150px;"></td>
      <td><img src="../../assets/brands/Honda.jpg" alt="..." class="img-thumbnail" style="width: 150px; height: 150px;"></td>
      <td><img src="../../assets/brands/Mahindra.png" alt="..." class="img-thumbnail" style="width: 150px; height: 150px;"></td>
      <td><img src="../../assets/brands/Toyota.png" alt="..." class="img-thumbnail" style="width: 150px; height: 150px;"></td>
      <td><img src="../../assets/brands/Tata.jpg" alt="..." class="img-thumbnail" style="width: 150px; height: 150px;"></td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr>
      <td>
        <img src="../../assets/brands/ford.png" alt="..." class="img-thumbnail" style="width: 150px; height: 150px;">
      </td>
      <td><img src="../../assets/brands/volkswagen.jpg" alt="..." class="img-thumbnail" style="width: 150px; height: 150px;"></td>
      <td><img src="../../assets/brands/Renault.jpeg" alt="..." class="img-thumbnail" style="width: 150px; height: 150px;"></td>
      <td><img src="../../assets/brands/chervolet.jpg" alt="..." class="img-thumbnail" style="width: 150px; height: 150px;"></td>
      <td><img src="../../assets/brands/MercendesBenz.jpg" alt="..." class="img-thumbnail" style="width: 150px; height: 150px;"></td>
      <td><img src="../../assets/brands/BMW.jpeg" alt="..." class="img-thumbnail" style="width: 150px; height: 150px;"></td>
    </tr>
  </table>
</div>



<section class="footer">
  <div class=" container-fluid">
    <div class="copyright">
      <br>
      <div id="contact-us" class="contact">
      <h3 class="text-center" style="font-size:x-large; font-style: normal; font-family: fantasy; text-decoration-line:underline;">Folllow Us</h3>
      </div>
  
  
     <div class="d-flex justify-content-center">
         <div class="p-3 social">
            <a class="nav-link active "><img style="width: 2em; height: 2em;" src="../../assets/logos/facebook.png" alt=""></a>
             <h4 style="font-size: small;" class="text-center">facebook</h4>
         </div>
  
         <div class="p-3 social">
            <a class="nav-link active "><img style="width: 2em; height: 2em;" src="../../assets/logos/twitter.png" alt=""></a>
            <h4 style="font-size: small;"class="text-center">Twitter</h4>
  
          </div>
  
         <div class="p-3 social">
            <a class="nav-link active "><img  style="width: 2em; height: 2em;" src="../../assets/logos/instagram.jpg" alt=""></a>
            <h4 style="font-size: small;"class="text-center">Instagram</h4>
  
          </div>         
     </div> 
  </div>
       <div style="font-size: medium; " class="copy text-center">Copyright Integrity</div>
  </div> 
  </section>
-->


<div class="container">
  <router-outlet></router-outlet>
</div>


  


