
    <div class="card">
        <div class="card-header">
        <h4>Personal Details</h4>
        </div>
      <div class="card-body">
        <div class="form" *ngFor="let person of persons">
          <div class="form-group">
            <strong>name :</strong>
            <span>{{person['name']}}</span>
          </div>

          <div class="form-group">
            <strong>contactNo :</strong>
            <span>{{person['contactNo']}}</span>
          </div>

          <div class="form-group">
            <strong>emailId :</strong>
            <span>{{person['emailId']}}</span>
          </div>

          <div class="form-group">
            <strong>address :</strong>
            <span>{{person['address']}}</span>
          </div>

          <div class="form-group">
            <strong>City :</strong>
            <span>{{person['city']}}</span>
          </div>

          <div class="form-group">
            <strong>State :</strong>
            <span>{{person['state']}}</span>
          </div>

          <div class="form-group">
            <strong>Country :</strong>
            <span>{{person['country']}}</span>
          </div>

          <div class="form-group">
            <strong>PinCode :</strong>
            <span>{{person['pincode']}}</span>
          </div>

        </div>
        </div>
    </div>


  
